body {
    background: #f8f8f8;
    margin: 0%;
}

.header {
    background-color: #ffffff;

}

.burger {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.Group {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 45px;

}

.divider {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;

}

.repair {
    margin-left: 2px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;

}

.checkstatus {
    background-color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;

}

.highlight {
    position: absolute;
    margin-right: 2px;
}

.uslugi {
    margin-left: 10px;
}

.swiper {
    width: 290px;
    height: 40px;
    background-color: #FFFFFF;
    border-width: 900px;
    border-radius: 10px;
    border: 2px solid #B8FFEC;
    padding: 20px;
    
}

.swiper-slide {
    color: #7E7E82;
    font-size: 20px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border: black;
}

.textremont {
    
}