body {
    background: #f8f8f8;
    margin: 0%;
}

.header {
    background-color: #ffffff;

}

.burger {
    background-color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.burger1 {
    background-color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}